[data-theme="dark"] {
  .hero{
    .container{
      background-color: var(--dark-blue);
      .wrapper{
     .block{
      background-color: #232B2F;
     }
      }
    }
  }
}

.hero{
.container {
  padding-top: 70px;
  background-color: var(--dark-blue);
  background-position: 50%;
  background-size: cover;
  display:flex;
  background-repeat:no-repeat;
  @media (width < 576px) {
    display:block;
   }
  .backgroundVideo{
     @media (width < 576px) {
     display:none;
     }
  }
  .playPauseButton { 
    @media (width < 576px) {
      display:none;

    }
  }
  @media (width < 576px) {
    padding-top: 38%;
    background-position:70%;
    background-size: cover;
  }
 
  @media (width < 1000px) {
  display:block;
  }
  .wrapper {
    display: flex;
    position:absolute;
    right:45rem;
    top:3rem;
    align-items: center;
    max-width: 600px;
    min-height: 70vh;
    padding: 2px 2rem;
    user-select: none;
  color: var(--dark-blue);
  overflow: hidden;
  @media (max-width: 576px) {
    padding:0;
    right:0;
    bottom:2rem;
  }
    }
    @media (max-width: 576px) {
      align-items: flex-end;
      max-width: 100%;
      min-height: 70vh;
      padding:1rem;
    }
    .block {
      display: block;
      left:6rem;
      padding: 30px 40px;
      width:150%;
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(11px);
      @media (max-width: 576px) {
        padding: 10px 25px;
        width:200%;
        margin:2rem 0;
      }
    }
    .title {
      margin: 0;
      margin-bottom: 38px;
      font-size: 52px;
      line-height: 120%;
      font-weight: 600;
      color: #fff;
      display: -webkit-box;
      // -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @media (max-width: 576px) {
        font-size: 44px;
        margin-bottom: 18px;
      }
    }
    .caption {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
      color: #fff;
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
    .searchBar {
      position: relative;
      width: 100%;
      margin-top: 40px;
      @media (width < 576px) {
        margin-top: 25px;
      }
      .search {
        display: flex;
        align-items: center;
        height: 50px;
        padding-right: 130px;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        @media (width < 576px) {
          padding-right: 75px;
        }
        label {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0 14px;
          color: #fff;
          svg {
            width: 22px;
            height: 22px;
            fill: #fff;
          }
        }
        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          font-size: 18px;
          line-height: 22px;
          color: #fff;
          background-color: transparent;
          &::placeholder {
            color: #fff;
          }
          @media (max-width: 576px) {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      .btnWrapper {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 120px;
        @media (width < 576px) {
          min-width: 64px;
        }
        button {
          border-radius: 0 5px 5px 0;
        }
      }
    }
    .actions {
      width: 100%;
      margin-top: 16px;
      text-align: left;
      .textButton {
        display: flex;
        align-items: center;
        column-gap: 8px;
        text-decoration: underline;
        color: #fff;
        font-size: 16px;
        &:hover {
          text-decoration: none;
        }
        svg,
        .text {
          fill: #fff;
          color: #fff;
        }
      }
    }
    .stats {
      display: flex;
      align-items: center;
      margin-top: 50px;
      @media (width < 576px) {
        margin-top: 40px;
      }
      .item {
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding-left: 30px;
        @media (width < 576px) {
          padding-left: 18px;
          column-gap: 8px;
        }
        &:first-child {
          border-right: 1px solid #fff;
          padding-right: 30px;
          padding-left: 0;
          @media (width < 576px) {
            padding-right: 18px;
          }
        }
        .number {
          font-size: 35px;
          line-height: 120%;
          font-weight: 600;
          color: #fff;
          @media (width < 576px) {
            font-size: 22px;
          }
        }
        .text {
          font-size: 16px;
          line-height: 120%;
          font-weight: 400;
          color: #fff;
          text-transform: lowercase;
          @media (width < 576px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.placeSection{
  padding:3rem 3rem;
  @media  (max-width:990px){
  padding:1rem;
  }
  h1{
    text-align:center;
    font-size:3rem;
    margin:1rem 0;
    @media  (max-width:990px){
      font-size:1.7rem;
    }
  }
h5{
  text-align:center;
  margin:1rem 0;
  
}
p{
  color:black;
}
  .placeIntro{
  display:flex;
  gap:2rem;
  align-items:center;
  @media  (max-width:990px){
    display:block;
  }
  .place{
    display:flex;
    gap:1rem;
    margin:1rem 0;
    @media  (max-width:990px){
      display:block;
    }
    >img{
      margin:1rem auto;
      display:block;
      border-radius:999px;
    }
  }
  .placeContent{
  display:block;
  >div{
    padding:1rem 0;
  }
  h5{
    font-size:1.3rem;
    text-align:start;
  }
  }
  }
}
.dishes{
  padding:1rem 3rem;
  @media  (max-width:990px){
    padding:1rem;
  }
  h2{
    font-size:2.6rem;
    margin:2rem 0;
    text-align:center;
    @media  (max-width:990px){
      font-size:1.5rem;
    }
  }
  .dishesIntro{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:center;
    gap:2rem;
    
  }
  .dishesIntro >div{
flex-basis:350px;
// flex-grow:1;
  }
  .dishesContent{
    position:relative;
    
    >img{
      width:100%;
      border-top-left-radius:25px;
      border-top-right-radius:25px;
      border-bottom-left-radius:25px;
      border-bottom-right-radius:25px;
    }
    .dish{
    position:absolute;
    width: 85%;
    top: 50%;
    border:4px solid #00FF00;
    border-radius: 30px;
    height: 92%;
    transform: translate(-50%, -50%);
    left: 50%;
   
    span {
      left: 0;
      font-size: 25px;
      background-color: #00FF00;
      width: 101%;
      text-align: center;
      bottom: 0;
      padding: 10px;
      color: black;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      margin-bottom: -1px;
      margin-left: -1px;
  }
  }
}
}
.trusted{
  margin:2rem 0;
}

