.container {
  padding: 60px 0;
  background-color: var(--secondary-bg);
  @media (width < 1140px) {
    padding: 24px 0;
  }
}
.wrapper {
  display: flex;
  height: 550px;
  // align-items:center;
  justify-content:center;
  border-radius: 24px;
  overflow: hidden;
  @media (width < 1140px) {
    height: 400px;
  }
  @media (max-width:990px) {
    // display: block;
    flex-direction: column;
    height: auto;
    min-height: 530px;
  }
  .collage {
    flex: 0 0 45%;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 1fr,);
    grid-template-rows: repeat(2, 1fr);
    .item {
      // position: relative;
    }

    @media (max-width:900px) {
      // height: 264px;
      // flex:0 0 20%;
      grid-template-rows: repeat(1, 1fr);
      img{
        width:180%;
        height:100%;
      }
    }
  }
  .body {
    flex: 0 0 50%;
    padding: 50px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    background-color: var(--primary);
    @media (max-width:990px) {
      padding: 30px;
      display: block;
    }
    @media (width < 576px) {
      padding: 20px;
    }
    .title {
      margin: 0;
      font-size: 60px;
      font-weight: 500;
      line-height: 120%;
      color: var(--black);
      @media (width < 1140px) {
        font-size: 38px;
      }
    }
    .desc {
      margin-top: 20px;
      margin-bottom: 70px;
      font-size: 20px;
      line-height: 120%;
      color: var(--black);
      @media (width < 1140px) {
        margin-top: 16px;
        margin-bottom: 48px;
        font-size: 16px;
      }
    }
    .actions {
      max-width: 200px;
    }
  }
}
